<div class="squares-card-container">
    <h1>Current Game</h1>

    <button class="btn btn-primary" (click)=createGame()>New Game</button>

    <div class="game-names-container">
        <div *ngFor="let game of games | async">
            <span class="game-name" (click)="switchGame(game)">
                {{game.gameName}}
                <span class="delete-game" (click)=deleteGame(game)>x</span>
            </span>
        </div>
    </div>

    <div class="game-name-header">
        <h2>{{currentGame && currentGame.gameName ? currentGame.gameName : ""}}</h2>
    </div>

    <br>

    <ul class="squares">
        <template ngFor let-item="$implicit" [ngForOf]="items | async">
            <li class='square' 
            [ngClass]="item.fileUrl ? 'square-image' : ''" 
            [style.background-image]="item.fileUrl ? 'url(' + item.fileUrl + ')' : ''"
            >
                <span></span>
                <input type="file" name="file" id="{{ item.$key }}" class="inputfile" (change)="prepareToUploadPicture($event, item)"/>
                <label  *ngIf="!item.fileUrl" [attr.for]="item.$key">{{item.name}}</label>
                <p *ngIf="item.fileUrl" (click)="showImg(item.fileUrl, item)">{{item.name}}</p>
                <img class="cell-img" *ngIf="!item.fileUrl && item.uploading === true" src="../../assets/img/loading.gif">
            </li>
        </template>
    </ul>

    <br>

</div>