#blue {
  color: blue;
}

.square {
    float:left;
    position: relative;
    width: 16%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    border: black 1px solid;
}

.bingo-table{
    display:table;
    height:100%;
    width:100%;
}

.bingo-table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.delete-cell{
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.cell-img{
  width:100%;
  margin-top: -10px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 30px;
  /*-ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);*/
}

.enter-subject-container{
  padding-top: 15px;
}

.enter-subject-container span{
  padding-left: 5px;
}

.enter-card-container{
  padding: 5px;
  padding-bottom: 15px;
}

.game-names-container{
  width: 400px;
}

.game-names-container div{
  display: inline-block;
  border: solid 1px red;
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.delete-game{
  float: right;
}

.generate-game{
  display: flex;
}