    <div class="modal-header">
        Create New Game
    </div>

    <div class="modal=body">
        <div>
            Give your game a name:
            <input type="text" placeholder="My Game" (input)="gameName = $event.target.value">
        </div>

        <div class="dropdown" *ngIf="gameName">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Topic
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li *ngFor="let topic of topics | async">
                    <a (click)=setTopic(topic)>{{topic.topicName}}</a>
                </li>
            </ul>
        </div>

        <div *ngIf="gameName">Selected Topic: {{selectedTopic && selectedTopic.topicName ? selectedTopic.topicName : ""}}</div>

        <div class="number-of-players" *ngIf=selectedTopic>
            Enter number of players (between 1 and 5):
            <!--<input #numberOfPlayers type="number" name="quantity" min="1" max="5" (keyup)="doneTypingCreateGame($event)">-->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Number of Players
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let int of playerInts">
                        <a (click)=setNumberOfPlayers(int)>{{int}}</a>
                    </li>
                </ul>
            </div>

            <div *ngIf=playersToAdd class="player-inputs">
                <div *ngFor="let player of playersToAdd; let i = index;">
                    Player {{i + 1}}: <input [readOnly]="i === 0" type="text" placeholder="{{player.email}}" (input)="player.email = $event.target.value">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf=playersToAdd class="btn btn-primary" (click)=createAndCloseModal()>Create</button>
        <button class="btn btn-primary" (click)=closeModal()>Close</button>
        <img *ngIf="creatingGame === true" width=100% src="../../assets/img/loading.gif">
    </div>
