.squares {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.square {
    position: relative;
    width: 20%;
    box-sizing: border-box;
    list-style: none;
    background-color: rgba(0,0,0,.05);
}

.square:after{
    content: "";
    display: block;
    padding-top: 150%;
}

.square span{
    position: absolute;
    top: 33%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 33%;
    text-align: center;
}

.square span:after{
    content: "";
    display: block;
    padding-top: 100%;
}

.square p{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
    text-weight: bold;
    padding: 5px;
    margin: 0;
    background-color: rgba(255,255,255,.65);
}

.square label{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
    text-weight: bold;
    padding: 5px;
    margin: 0;
    background-color: rgba(255,255,255,.65);
}

.square:nth-child(odd) {
    background-color: rgba(0,0,0,.090);
}

.square-image {
    background-image: url("../../assets/img/star.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    border: black 1px solid;
}

.bingo-table{
    display:table;
    height:100%;
    width:100%;
}

.bingo-table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.delete-cell{
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.cell-img{
  width:100%;
  /*margin-top: -10px;*/
  position: absolute;
  z-index: -1;
  /*left: 0;*/
  /*top: 30px;*/
  /*-ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);*/
}

.enter-subject-container{
  padding-top: 15px;
}

.enter-subject-container span{
  padding-left: 5px;
}

.enter-card-container{
  padding: 5px;
  padding-bottom: 15px;
}

.game-names-container{
  width: 400px;
}

.game-names-container div{
  display: inline-block;
  border: solid 1px red;
  width: 150px;
  padding: 5px;
  margin: 5px;
}

.delete-game{
  float: right;
}

.generate-game{
  display: flex;
}