<div class="card-container">
  <h1 *ngIf=displayName x-large class="sample-content">Welcome to Tourist Bingo {{displayName}}</h1>
  <button class="btn btn-primary" (click)=createGame()>New Game</button>
  <div class="game-names-container">
		<template ngFor let-game="$implicit" [ngForOf]="games | async">
			<div (click)="switchGame(game)">
					<span class="game-name">
							{{game.gameName}}
							<span class="delete-game" (click)="deleteGame(game, $event)">x</span>
					</span>
			</div>
		</template>
    </div>
</div>
